  <% if (post.get("follow_relation_id") !== null) { %>
    <% var followState = "unFollow"; %>
  <% } else { %>
    <% var followState = "Follow"; %>
  <% } %>

  <% if (post.get("like_relation_id") !== null) { %>
    <% var likeState = "unLike"; %>
  <% } else { %>
    <% var likeState = "Like"; %>
  <% } %>

<div class= "post-item-border">
  <div class='post-header'>
    <%= post.escape("username") %>
    <%= post.escape("title") %>
    <button class="follow-button"><%= followState %></button>
  </div>
  <div class="post-body">
    <%= post.escape("body") %>
    <button class="like-button"><%= likeState %></button>
  </div>

</div>
