
<% if (post.get("follow_relation_id") !== null) { %>
    <% var followState = "unFollow"; %>
  <% } else { %>
    <% var followState = "Follow"; %>
  <% } %>



<div class="user-profile-pic">
  <img data-user-id="<%=post.get('user_id')%>" class = "thumbnail-user" src="<%= post.get("profileUrl") %>"
       data-blog-id="<%=post.get("blog_id")%>">
</div>
<div class= "post-item-border">

  <div class='post-header'>

      <div class="user-header" >
        <p  class="username-header" data-blog-id="<%=post.get("blog_id")%>"><%= post.escape("username") %></p>
        <div class="user-blog-icon" data-blog-id="<%=post.get("blog_id")%>"></div>
        <%if (post.get("user_id") == Tumblr.CURRENT_USER.id) { %>
          <button data-id="<%=post.id%>" class="edit-button">Edit</button>
        <% } else { %>
          <button class="follow-button"><%= followState %></button>
        <% } %>
      </div>


    <div class="post-text-header">
        <% if (post.get("attr") === "Text") {%>
      <p>
          <%= post.escape("title") %>
        <% } else if (post.get("attr") === "Quote") { %>
        <div class="quote-text"><em class="inner-quote"> "<%= post.escape("quotetitle") %>"</em> </div>
        <% } else if(post.get("attr") === "Link") { %>
          <div class="link-square">
            <a href="http://<%= post.escape('linkurl') %>" class="button square">  <%= post.escape("linkurl") %></a>
          </div>
      </p>
      <% } else if(post.get("attr") === "Image") { %>
        <img class = "index-post-image" src="<%= post.get("imageUrl") %>">
      <% } else if(post.get("attr") === "Song") { %>
        <audio class= "audio-post"
          src="<%= post.get("songUrl") %>" controls></audio>
      <% } else if(post.get("attr") === "Video") { %>
        <video class= "video-post"
          src="<%= post.get("videoUrl") %>" controls></video>
      <% } %>
    </div>

  </div>

  <div class="post-body">
    <p class="post-text-body">
      <% if (post.get("attr") === "Text") {%>
        <%= post.escape("body") %>
      <% } else if (post.get("attr") === "Quote") { %>
        <p class="quote-source"><%= post.escape("quotesource") %></p>
      <% } else if(post.get("attr") === "Link") { %>
        <%= post.escape("linkbody") %>
      <% } else if(post.get("attr") === "Image") { %>
        <%= post.escape("imagebody") %>
      <% } else if(post.get("attr") === "Song") { %>
        <%= post.escape("songbody") %>
      <% } else if(post.get("attr") === "Video") { %>
        <%= post.escape("videobody") %>
      <% }%>
    </p>
  </div>

  <div class="bottom-container">
    <div class="tag-notes">
      <% post.tags().forEach(function(tag) { %>
        <a data-tag="<%= tag.escape("label") %>" class="tag-post-index"><%= tag.escape("label") %></a>
      <% }) %>
      <% var notetext = post.notes === 1 ? "Note" : "Notes" %>
      <p class="note-text"><%=post.escape("notes")%> <%=notetext%> </p>

      <ul data-id="<%=post.id%>" class="notes-ul">

      </ul>
    </div>
    <div class="bottom-right-container">
      <div class="reblog-image" data-post-id="<%=post.id%>"></div>
      <% if (post.get("like_relation_id") !== null) { %>

        <div class="pink-heart like-button"></div>

      <% } else { %>
        <div class="reg-heart like-button"></div>

      <% } %>
    </div>
  </div>
    <div class="clear"></div>

</div>
