<!DOCTYPE html>
<html>
<head>


  <title>stumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <script> filepicker.setKey("<%=ENV['filepicker']%>") </script>
</head>
<body>

<div class="errors">
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>
</div>

<%= yield %>

</body>
</html>
